<div class="foobar" style="background-color:#F2F2F2;"  %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Solutions</strong><br>

  <%= @solution.solution1 %>
</p>

<p>
  
  <%= @solution.image1 %>
</p>

<p>
  
  <%= @solution.solution2 %>
</p>

<p>
  
  <%= @solution.image2 %>
</p>

<p>
  
  <%= @solution.solution3 %>
</p>

<p>
 
  <%= @solution.image3 %>
</p>

<p>
  
  <%= @solution.solution4 %>
</p>

<p>
  
  <%= @solution.image4 %>
</p>

<p>
 
  <%= @solution.solution5 %>
</p>

<p>
  
  <%= @solution.image5 %>
</p>



<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
</div>
